body{
    margin: 0;
    padding: 0;
}
.navbar .breadcrumb .breadcrumb-item a{
    color: wheat !important;
}
.navbar .breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    color: wheat !important;
}
.navbar .breadcrumb .breadcrumb-item a:hover, .navbar .breadcrumb .breadcrumb-item a:focus {
    color: cyan !important;
    text-decoration: underline;
}
.w-100{
    width: 100%;
}
.img-wrapper{
    height: 300px;
    width: 300px;
}
.img-wrapper img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.card-text{
    color: black;
}
.rButton{
    border: none;
    background: none;
    color: blue;
}
.category{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.blogMain{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}   
.img-width{
    width: 100% !important;
}
.cateGory{
    color: #808080;
}
.data-wrapper{
    width: 33.33% !important;
}
.menuICon{
    font-size: 35px !important;
    color: #808080;
    margin-left: -80px;
    margin-right: 15px;
}
.profile{
    margin: 15px;
    height: 60px !important;
    width: 60px !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    margin-left: -74px !important;
    margin-right: 10px !important;
}